.title-section {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 137.5%;
    color: $clr-title;
}

.text-section {
    font-weight: 400;
    font-size: $font-size-main;
    line-height: $line-height;
    color: $clr-main;
}