.container {
	padding: 0 $container-padding;
	max-width: $container-width;
	margin: 0 auto;
}
.container-big {
	padding: 0 $container-padding-big;
	max-width: $container-width-big;
	margin: 0 auto;
}

.container-right {
	/* overflow-x: hidden; */
	padding-left: calc(
		(100% - $container-width) / 2 + $container-padding
	);

	@media (max-width: $xl) {
		padding-left: $container-padding;
	}
}

.container-left {
	/* overflow-x: hidden; */
	padding-right: calc(
		(100% - $container-width) / 2 + $container-padding
	);

	@media (max-width: $xl) {
		padding-right: $container-padding;
	}
}
