// Fonts
$font-main: 'Gotham Pro', sans-serif;

// Colors
$clr-main: #404040;
$clr-title: #303030;
$clr-white: #fff;
$clr-light: #f4f7fa;
$clr-gray: #737373;
$clr-accent: #273895;
$clr-light-accent: #2741d0;