.forecasts {
    margin: 7.5rem 0;
    padding: 10rem 0;
    color: $clr-white;
    background-color: $clr-accent;

	&__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3.2rem;
	}

	&__title {
        max-width: 41rem;
        font-weight: 600;
        font-size: 3.2rem;
        line-height: 137.5%; 
	}
    
	&__list {
        max-width: 70rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 3.2rem;
	}
}

.forecast {
    text-align: center;
    
	&__title {
        margin-bottom: 1.6rem;
        font-weight: 600;
        font-size: 3.2rem;
        line-height: 110%;
        background-color: #4614E8;
        background-image: linear-gradient(90deg, #4614E8, $clr-white);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
	}

	// &__text {}
}
