.hero {
    padding: 7.5rem 0 15rem;

	&__container {
        display: flex;
        gap: 9.6rem;
	}

	&__preview {
        max-width: 42rem;
        position: relative;
	}
    
	// &__img {}
    
	&__comment {
        padding: 3.2rem;
        width: 85%;
        display: grid;
        font-size: 1.2rem;
        font-style: italic;
        border-radius: 1.2rem;
        background: linear-gradient(to right, #F0EBFF, $clr-white);
        box-shadow: 0 1.4rem 4rem 0 rgba($color: #BBA6FF, $alpha: 0.2);
        position: absolute;
        right: -10rem;
        bottom: -5rem;

        span {
            font-weight: 500;
            font-size: 3.2rem;
            line-height: 1;
        }
    }
    
	&__content {
        padding-top: 6rem;
        max-width: 45rem;
	}

	&__title {
        display: grid;
        margin-bottom: 1.6rem;

        span {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 120%;
            color: $clr-main;
        }
	}

	&__subtitle {
        margin-bottom: 3.2rem;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 120%;
        color: $clr-main;
	}
    
	&__text {
        & > *:not(:last-child) {
            margin-bottom: 0;
        }
    }
    
	&__btn {
        margin-top: 3.2rem;
	}
}
