// 1399.98
// @media (max-width: $xxl){}

// 1199.98px
@media (max-width: $xl){
    .home {
        &__img {
            opacity: 0.5;
        }

        &__profit {
            top: initial;
            bottom: 15rem;
            right: 2rem;
        }
    }

    .advantages {
        margin-top: -14rem;
    }

    .online-team {
        padding: 7.2rem 0 3.2rem;

        &__list {
            margin-right: 0;
        }
    }
}

// 991.98px
@media (max-width: $lg) {
    .header {
        &__description {
            display: none;
        }
    }

    .online-team {
        &__container {
            flex-direction: column;
        }

        &__content {
            max-width: 100%;
            display: grid;
            justify-items: center;
            text-align: center;
	    }

        &__list {
            column-gap: 1.6rem;

            &::before {
                --size: 2.5rem;
                left: 4rem;
                top: 54%;
            }
            &::after {
                --size: 10.2rem;
                top: -8%;
                right: -12%;
            }
        }
    }
    .item-online-team {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
            padding: 1.6rem;
        }
        &:nth-child(1) {
            .item-online-team__title {
                font-size: 3.2rem;
            }
        }

        &__title {
            margin-bottom: 0.5rem;
            font-size: 3.2rem;

            span {
                font-size: 1.2rem;
            }
        }

        &__description {
            font-size: 1rem;
        }
    }

    .item-support {
        padding: 2.4rem;
    }

    .help-service {
        &__img {
            position: static;
        }

        &__block {
            padding: 1.6rem 0.8rem;
        }

        &__title {
            margin-bottom: 0.4rem;
            font-size: 1rem;
        }

        &__btn {
            padding: 0.8rem 1.2rem;
            font-size: 1rem;
        }
    }

    .footer {
        &__description {
            display: none;
        }
    }
}

// 767.98px
@media (max-width: $md) {
    body {
        font-size: 1.2rem;
    }

    .title-section {
        font-size: 2.4rem;
    }
    .text-section {
        font-size: 1.2rem;
    }

    .header {
        &__user {
            gap: 0;
        }
    }

    .phone {
        &__btn {
            display: flex;
        }

        &__text {
            display: none;
        }
    }

    .btn {
        font-size: 1.2rem;
        border-radius: 1em;
    }

    .home {
        &__container {
            padding-top: 0;
        }

        &__content {
            text-align: center;
        }

        &__text {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1.6rem;
        }

        &__profit,
        &__img {
            right: initial;
            left: 50%;
            transform: translateX(-50%);
        }

        &__img {
            max-width: 28rem;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &__profit {
            width: 12.2rem;
            height: 12.2rem;
            bottom: 0;
            z-index: -1;

            &_2 {
                font-size: inherit;
            }
            &_3 {
                font-size: 1rem;
            }
        }
    }

    .advantages {
        margin-top: 1.6rem;

        &__list {
            padding: 3.2rem;
            flex-direction: column;
            align-items: center;
        }

        &__item {
            text-align: center;
            justify-items: center;
        }

        &__text {
            font-size: 1.4rem;
        }
    }

    .support {
        &__title {
            margin-bottom: 2.4rem;
            font-size: 1.4rem;
        }

        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .item-support {
        &__title {
            font-size: 1.4rem;
        }

        &:last-child {
            grid-column: 1/3;
        }
    }

    .service {
        &__top {
            flex-direction: column;
            gap: 2.4rem;
        }
    }
    .help-service {
        &__img {
            display: block;
            margin: 0 auto;
        }

        &__block {
            right: initial;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .content-service {
        flex-basis: auto;

        &__title {
            font-size: 1.4rem;
            line-height: 150%;
        }

        &__list {
            gap: 1.6rem;
        }

        &__item {
            padding-left: 2rem;

            &::before {
                border-width: 0 0 1rem 1rem;
            }
        }
    }
    .item-service {
        &__title {
            font-size: 1.4rem;
        }
    }
}

// 575.98px
@media (max-width: $sm) {
    .header {
        margin-bottom: 0;

        &__top {
            padding: 2.2rem 0 4.8rem;
        }

        &__user {
            margin-left: auto;
        }

        &__btn {
            display: none;
        }
    }

    .logo {
        font-size: 0.7rem;
        gap: 1rem;
    }

    .mobile-nav {
        display: flex;
    }

    .mobile-nav-btn {
        display: flex;
    }

    .menu {
        display: none;
    }

    .online-team {
        &__list {
            justify-content: center;
        }
    }
    .item-online-team {
        &:nth-child(1) {
            max-width: 14rem;
        }
        &:nth-child(2) {
            max-width: 12.4rem;
        }
        &:nth-child(3) {
            max-width: 12.4rem;
        }
        &:nth-child(4) {
            max-width: 13.2rem;
        }
    }

    .support {
        padding-bottom: 3.5rem;

        &__list {
            grid-template-columns: 1fr;
        }
    }
    .item-support {
        text-align: center;

        &:last-child {
            grid-column: initial;
        }
    }

    .service {
        padding: 3.5rem 0;
    }
    .content-service {
        margin-bottom: 3.2rem;

        &__row {
            flex-direction: column;
        }

        &__text,
        &__list {
            flex-basis: auto;
        }
    }

    .footer {
        &__container {
            flex-direction: column;
            text-align: center;
        }

        &__description {
            margin: 0;
            display: block;
        }

        &__bottom {
            a + a {
			    margin-left: 0;
		    }

            a {
                display: block;
            }
        }
    }
}